.color-circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.text {
  color: white;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  display: inline-block;
  width: 40px;
  height: 40px;
  vertical-align: middle;
  position: relative;
  top: 6px;
}

