
.options {
  justify-content: flex-end;
  display: flex;
}

button {
  width: inherit;
}

.ui-float-label {
  display: flex;
}

.form {
  margin-top: 0.5em;
  // height: calc(100vh - 40px);
  overflow-y: auto;
}

.ui-inputgroup .ui-inputtext:not(:last-child) {
  border-right-width: thin;
}

.p-grid {
  width: calc(100% + 0.5rem);
}
