@import './variables.scss';

.dark al-compose .flex-right {
  background: $dark-bg;
}

.light al-compose .flex-right {
  background: white;
}

al-compose {
  .spaced {
    margin-top: 15px !important;
  }

  .flex-right {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    margin-top: 10px;
    margin-bottom: 10px;
    position: sticky;
    top: 0;
    z-index: 1000;
  }

  .field {
    display: flex;

    label {
      left: 0.9rem;
    }
  }

  .field.p-float-label .p-inputwrapper-focus ~ label, .field.p-float-label .p-inputwrapper-filled ~ label {
    top: 0.25rem !important;
  }

  .flex-1 {
    display: flex;
    flex: 1;
    .p-autocomplete {
      width: 100%;
    }

    .p-focus {
      box-shadow: none !important;
      outline: none !important;
    }
  }

  .margin-top {
    margin-top: 15px;
  }
}

