al-folders-list {
  // .ui-tree {
  //   width: 100%;
  //   border: none;
  // }

  // .ui-treenode-content:focus {
  //   box-shadow: none !important;
  // }

  // .ui-tree-wrapper {
  //   border: none;
  // }

  // .selected {
  //   font-weight: bold;
  // }

  .p-tree {
    padding: inherit;
    border: none;
    width: 100%;
  }

  .p-treenode-content {
    padding: 0px !important;
  }

  .p-treenode-content:focus {
    box-shadow: none !important;
    outline: none !important;
  }

  .p-treenode-content .selected {
    font-weight: bold;
  }

  li.p-treenode {
    padding: 0px !important;
  }
}
