al-message.dark {
  color: #dedede;
}
al-message {
  .img-options span {
    margin-right: 5px;
  }
  .center {
    text-align: center;
  }

  .flex {
    display: flex;
  }

  .from {
    display: flex;
    align-items: center;
  }

  .avatar {
    max-width: 40px;;
    margin-right: 8px;
  }

  .details {
    display: flex;
    flex: 1;
    flex-direction: column;
  }

  .actions {
    display: flex;
    margin-top: 11px;
  }

  .subject {
    display: flex;
    flex: 1;
  }

  .star {
    align-items: center;
    display: flex;
    justify-content: flex-end;
  }

  .extra-details {
    font-size: 0.8em;
  }

  .contact-detail {
    margin-right: 5px;
  }
  
  .max-width {
    max-width: 300px;
  }

  .message-body {
    overflow-x: overlay;
  }

  .hide-quote blockquote {
    display: none;
  }

  /*.ui-overlaypanel {
    top: 150px !important;
    left: 370px !important;
  }*/

  .link {
    color: var(--primary-color);
  }

  .main-container {
    padding-left: 15px;
  }

  pinch-zoom {
    background-color: inherit !important;
  }

  .max {
    width: 100%;
  }

  .margin-bottom {
    margin-bottom: 10px;
  }

  .attachments {
    margin-top: 8px;
  }
}
