@import './variables.scss';

al-messages-list {
  --col-width: 3rem;
}

al-messages-list .compact {
  --col-width: 2rem;
}

al-messages-list {
  .compact .p-datatable .p-datatable-thead > tr > th, .compact .p-datatable .p-datatable-tbody > tr > td  {
    padding-left: 0.2rem !important;
    padding-right: 0.2rem !important;
    padding-top: 0.4rem !important;
    padding-bottom: 0.4rem !important;
  }

  .center {
    text-align: center !important;
  }

  tr > th:first-child {
    width: var(--col-width);
  }

  th {
    position: sticky;
    top: 0px;
    z-index: 1000;
  }

  .dark th {
    background-color: $dark-bg !important;
  }

  .light th {
    background-color: $light-bg !important;
  }

  .header {
    font-weight: normal;
  }
  .search-input {
    al-input {
      width: 100%;
    }
    display: flex;
    flex: 1;
  }
  .search-button {
    display: flex;
  }
  .flex {
    display: flex;
  }

  .from, .subject {
    display: flex;
    flex: 1;
    overflow: hidden;
    white-space: nowrap;
  }

  .p-datatable-wrapper {
    height: calc(100vh - 105px);
    overflow-y: auto;
    overflow-x: hidden;
  }

  .subject {
    font-size: 13px;
  }

  .date {
    justify-content: right;
  }

  .flags {
    justify-content: right;
    // margin-top: 4px;
    margin-right: 4px;
  }

  .fa-star {
    font-size: 0.9em;
    padding-right: 5px;
  }

  .unread {
    font-weight: bold;
  }

  .adv-search {
    max-width: 600px;
  }

  .right {
     max-width: 100px;
  }

  .display-flex {
    width: 100%;
    display: flex;
  }

  .flex {
    flex: 1;
  }

  .message {
    overflow: hidden;
    flex-flow: wrap;
    flex: 1;
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  .valign {
    vertical-align: middle !important;
  }

  .margin-left {
    margin-left: 10px;
  }

  .flex-column {
    display: flex;
    flex-direction: column;
  }

  .flex-right {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }

  .msg-details {
    width: 100%;
    display: flex;
    align-items: center;
  }
}
