@import './variables.scss';

al-messages-list {
  th {
    position: sticky;
    top: 0px;
    z-index: 1000;
  }

  .dark th {
    background-color: $dark-bg !important;
  }

  .light th {
    background-color: $light-bg !important;
  }

  .header {
    font-weight: normal;
  }
  .search-input {
    al-input {
      width: 100%;
    }
    display: flex;
    flex: 1;
  }
  .search-button {
    display: flex;
  }
  .flex {
    display: flex;
  }

  .from, .subject {
    flex-grow: 1;
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
  }

  .p-datatable-wrapper {
    height: calc(100vh - 105px);
    overflow-y: auto;
    overflow-x: hidden;
  }

  .subject {
    font-size: 13px;
  }

  .date {
    justify-content: right;
  }

  .flags {
    justify-content: right;
    // margin-top: 4px;
    margin-right: 4px;
  }

  .fa-star {
    font-size: 0.9em;
    padding-right: 5px;
  }

  .unread {
    font-weight: bold;
  }

  .adv-search {
    max-width: 600px;
  }

  .right {
     max-width: 100px;
  }

  .flex {
    flex: 1;
  }

  .message {
    width: calc(100% - 48px);
    margin-top: 8px;
  }

  .valign {
    vertical-align: middle !important;
  }

  .margin-left {
    margin-left: 10px;
  }

  .flex-column {
    display: flex;
    flex-direction: column;
  }

  .flex-right {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
}
