al-settings {
  .margin-bottom {
    margin-bottom: 1rem;
  }
  .margin-top {
    margin-top: 1rem;
  }
  .flex {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  .left {
    al-input {
      width: 100%;
    }
    display: flex;
    flex: 1;
  }
  .right {
    display: flex;
  }

  al-input {
    width: 100%;
  }
}
