<div [hidden]="attachments.length == 0">
  <p-table [value]="attachments" [loading]="view._attDownloading">
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 3em"></th>
        <th style="text-align: left">
          Attachment
        </th>
        <th style="width: 3em"></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-row>
      <tr>
        <td><i class="fa fa-{{row | fileIcon}}"></i></td>
        <td (click)="view._viewAttachment(row)">
          <div>{{row.FileName}}</div>
          <div>{{(row.EstimatedSize || row.Size) | humanFileSize}}</div>
        </td>
        <td>
          <i *ngIf="message" (click)="view._downloadAttachment(row)" class="fa fa-download"></i>
          <i *ngIf="!message" (click)="view._removeAttachment(row)" class="fa fa-trash"></i>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
