<div [hidden]="attachments.length == 0">
  <p-table [value]="attachments" [loading]="view._attDownloading">
    <ng-template pTemplate="body" let-row>
      <tr>
        <td class="w3em"><i class="fa fa-{{row | fileIcon}}"></i></td>
        <td class="all-space" (click)="view._viewAttachment(row)">
          <div>{{row.FileName}}</div>
          <div>{{(row.EstimatedSize || row.Size) | humanFileSize}}</div>
        </td>
        <td class="w3em">
          <i *ngIf="message" (click)="view._downloadAttachment(row)" class="fa fa-download"></i>
          <i *ngIf="!message" (click)="view._removeAttachment(row)" class="fa fa-trash"></i>
        </td>
        <td class="w3em" *ngIf="view._isCloud && message">
          <i (click)="view._uploadToCloud(row)" class="fa fa-cloud-download"></i>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
