<span [ngClass]="{'is-mobile': view._isMobile}" [hidden]="view._themeLoading$ | async">
  <ng-container [ngTemplateOutlet]="view._isMobile ? mobile : desktop"></ng-container>
</span>

<p-blockUI [blocked]="view._themeLoading$ | async">
    <i class="fa fa-spinner fa-spin fa-3w" style="position:absolute;top:calc(50% - 30px);left:calc(50% - 30px);font-size: 60px;font-weight: bold"></i>
</p-blockUI>

<ng-template #desktop>
  <p-table #table [value]="view._row" [resizableColumns]="true" (onColResize)="view._resize($event)">
    <ng-template pTemplate="header">
      <tr class="main-header">
        <th class="folders-col">
          <al-button (notify)="view._newMessage('new')" icon="fa fa-envelope-o" label="New message"></al-button>
        </th>
        <th class="mails-col" pResizableColumn>
          <div>
            <div class="left">
              <ng-container [ngTemplateOutlet]="toolbarButtons" [ngTemplateOutletContext]="{$implicit: actionButton}"></ng-container>
            </div>
            <div class="right">
              <al-button styleClass="p-button-lg" (notify)="view._refresh()" icon="{{view._refreshing ? 'fa fa-spinner fa-spin' : 'fa fa-refresh'}}"></al-button>
            </div>
          </div>
        </th>
        <th class="mail-col">
          <div class="content">
            <div class="profile">{{view._account | currentEmail}}</div>
            <al-button class="fix-button" styleClass="p-button-lg" icon="fa fa-user" (notify)="menu.toggle($event)"></al-button>
          </div>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body">
      <tr class="top">
        <td class="no-padding">
          <div class="wrapper">
            <al-folders-list [account]="view._account"></al-folders-list>
          </div>
        </td>
        <td class="no-padding">
          <div class="messages-wrapper">
            <al-messages-list
              #messagesList
              (selectionChanged)="view._selectionChanged($event)"
              (notify)="view._messageNotify($event)"
              (maximize)="messageBody.maximize()"
              [account]="view._account"
              [folder]="view._folder"></al-messages-list>
          </div>
        </td>
        <td class="no-padding">
          <div class="wrapper padding-right-10">
            <al-message #messageBody (notify)="view._msgBodyNotify($event)" [message]="view._message" (close)="view._messageClose()"></al-message>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
  <p-dialog
    (onHide)="view._hideCompose(null)"
    [header]="view._composeTitle" [(visible)]="view._compose"
    [style]="{width: '900px'}"
    [maximizable]="true"
    [closeOnEscape]="true">
    <al-compose
      (notify)="view._hideCompose($event)"
      (draftSaved)="view._draftSaved($event)"
      *ngIf="view._composer"
      [composeType]="view._composeType"
      [message]="view._composeMessage"
      [to]="view._composeTo"></al-compose>
  </p-dialog>
  <p-dialog header="Settings" [resizable]="true" [closeOnEscape]="true" [(visible)]="view._showSettings" [style]="{width: '900px'}">
    <al-settings #settings></al-settings>
    <ng-template pTemplate="footer">
      <al-button icon="fa fa-check" label="Save" (notify)="view._saveSettings()"></al-button>
      <al-button icon="fa fa-times" label="Cancel" (notify)="view._cancelSettings()"></al-button>
    </ng-template>
  </p-dialog>
  <p-overlayPanel #menu>
    <ng-container [ngTemplateOutlet]="accounts" [ngTemplateOutletContext]="{$implicit: {withFolders: false, menu: menu}}"></ng-container>
  </p-overlayPanel>
</ng-template>
<ng-template #mobile>
  <p-sidebar [style]="{width: '80%'}" [(visible)]="view._toolbarVisible" [baseZIndex]="10000">
    <ng-container [ngTemplateOutlet]="accounts" [ngTemplateOutletContext]="{$implicit: {withFolders: true}}"></ng-container>
  </p-sidebar>

  <p-toolbar class="mobile-toolbar">
    <div class="ui-toolbar-group-left">
      <al-button (click)="view._toolbarVisible = true" [hidden]="view._mobileViewType != 'list'" icon="fa fa-bars" styleClass="p-button-lg"></al-button>
      <al-button (click)="view._toolbarBack()" [hidden]="view._mobileViewType == 'list'" icon="fa fa-arrow-left" styleClass="p-button-lg"></al-button>
      <al-button (click)="view._newMessage('new')" [hidden]="view._mobileViewType != 'list'" icon="fa fa-plus" styleClass="p-button-lg"></al-button>
      <al-button (click)="view._saveSettings()" [hidden]="view._mobileViewType != 'settings'" icon="fa fa-check" styleClass="p-button-lg"></al-button>
      <al-button (click)="view._cancelSettings()" [hidden]="view._mobileViewType != 'settings'" icon="fa fa-times" styleClass="p-button-lg"></al-button>
      <ng-container [ngTemplateOutlet]="toolbarButtons" [ngTemplateOutletContext]="{$implicit: actionIcon}"></ng-container>
      <div class="rest">&nbsp;</div>
      <!--al-button (click)="view._refresh()" [hidden]="view._mobileViewType != 'list'" icon="{{view._refreshing ? 'fa fa-spinner fa-spin' : 'fa fa-refresh'}}" styleClass="p-button-lg"></al-button-->
    </div>
  </p-toolbar>

  <div>
    <al-messages-list
      class="mobile"
      [hidden]="view._mobileViewType != 'list'"
      (maximize)="messageBody.maximize()"
      #messagesList
      (selectionChanged)="view._selectionChanged($event)"
      (notify)="view._messageNotify($event)"
      [account]="view._account"
      [folder]="view._folder"></al-messages-list>
    <div class="wrapper w100 padding-right-10" [hidden]="view._mobileViewType != 'message'">
      <al-message #messageBody (notify)="view._msgBodyNotify($event)" [message]="view._message" (close)="view._messageClose()"></al-message>
    </div>

    <div class="wrapper w100 padding-20" *ngIf="view._mobileViewType == 'settings'">
      <al-settings #settings></al-settings>
    </div>

    <div class="w100 padding-20" [hidden]="view._mobileViewType != 'compose'">
      <al-compose
        (notify)="view._hideCompose($event)"
        (draftSaved)="view._draftSaved($event)"
        *ngIf="view._composer"
        [composeType]="view._composeType"
        [message]="view._composeMessage"
        [to]="view._composeTo"></al-compose>
    </div>
  </div>
</ng-template>
<ng-template #toolbarButtons let-tpl>
  <ng-container [ngTemplateOutlet]="tpl" [ngTemplateOutletContext]="{$implicit: {icon: 'envelope-open-o', action: 'mark-read'}}"></ng-container>
  <ng-container [ngTemplateOutlet]="tpl" [ngTemplateOutletContext]="{$implicit: {icon: 'envelope-o', action: 'mark-unread'}}"></ng-container>
  <ng-container [ngTemplateOutlet]="tpl" [ngTemplateOutletContext]="{$implicit: {icon: 'trash-o', action: 'delete'}}"></ng-container>
  <ng-container *ngIf="view._account | hasArchive:view._folder"
    [ngTemplateOutlet]="tpl"
    [ngTemplateOutletContext]="{$implicit: {icon: 'file-archive-o', action: 'archive'}}"></ng-container>
</ng-template>
<ng-template #actionIcon let-context>
  <al-button
    [hidden]="(view._mobileViewType != 'list' && view._mobileViewType != 'message') || (context.action == 'mark-read' && view._mobileViewType == 'message')"
    icon="fa fa-{{context.icon}}"
    [disabled]="view._selection?.length == 0 && !view._message"
    styleClass="p-button-lg"
    (click)="view._actionIcon(context.action)"
    ></al-button>
</ng-template>
<ng-template #actionButton let-context>
  <al-button (notify)="view._action(context.action)" styleClass="p-button-lg" [disabled]="view._selection?.length == 0 && !view._message" icon="fa fa-{{context.icon}}"></al-button>
</ng-template>
<ng-template #accounts let-ctx>
  <div class="home-menu-container">
    <div class="home-flex" *ngFor="let account of (view._accounts$ | async)">
      <div class="check">
        <al-checkbox
          [withSwitch]="false"
          [model]="account | isSelected:view._checkAccount | async"
          (modelChange)="view._changeAccount(account.Email, $event)"></al-checkbox>
      </div>
      <div class="avatar">
        <al-avatar [contact]="account | accountToContact"></al-avatar>
      </div>
      <div class="account home-no-wrap" [ngClass]="{selected: (account | isSelected:view._checkAccount | async)}" (click)="ctx.menu && ctx.menu.hide(); view._changeAccount(account.Email, null)">
        <h3 class="name" *ngIf="account.FriendlyName">{{account.FriendlyName}}</h3>
        <h4 class="email" *ngIf="!(account | isCombinedAccount)">{{account.Email}}</h4>
        <h4 class="email" *ngIf="account | isCombinedAccount">{{(view._accounts$ | async | count) - 1}} accounts</h4>
      </div>
    </div>
    <div class="home-flex folders" *ngIf="ctx.withFolders">
      <al-folders-list [account]="view._account"></al-folders-list>
    </div>
    <div class="home-flex" (click)="ctx.menu && ctx.menu.hide(); view._settingsClick()">
      <i class="p40 fa fa-cog"></i> 
      <span class="bigger-font">Settings</span>
    </div>
  </div>
</ng-template>
