<p-table #table [value]="view._messages" [lazy]="true" selectionMode="single" (onLazyLoad)="view._loadMessages($event)" [paginator]="true"
  [loading]="view._loading" [rows]="view._pageSize" [totalRecords]="view._totalRecords" (onRowSelect)="view._selectionChanged()"
  (onRowUnselect)="view._selectionChanged()" (onHeaderCheckboxToggle)="view._selectionChanged()" [pageLinks]="view._combinedView ? 1 : 5"
  [ngClass]="{'combined-view': view._combinedView}">
  <ng-template pTemplate="header">
    <tr>
      <th style="width: 3em">
        <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
      </th>
      <th>
        <div class="header p-grid ui-fluid">
          <div class="p-col-12">
            <div class="ui-inputgroup">
              <input (keyup)="view._keyup($event)" [(ngModel)]="view._search.simple" type="text" pInputText placeholder="Search">
              <i (click)="view._clearSearch()" class="pi pi-times" *ngIf="view._search.simple"></i>
              <button (click)="advancedSearch.toggle($event)" pButton icon="pi pi-angle-down"></button>
            </div>
          </div>
        </div>
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-row>
    <tr [ngClass]="{'ui-state-highlight': view._selected?.Uid == row.Uid}">
      <td>
        <p-tableCheckbox [value]="row"></p-tableCheckbox>
      </td>
      <td [ngClass]="{unread: !row.IsSeen}" (click)="view._select(row)" [ngStyle]="row | borderRight | async">
        <div class="p-grid ui-fluid">
          <div class="avatar" *ngIf="row.From.Collection?.length > 0">
            <al-avatar [contact]="row.From.Collection[0]"></al-avatar>
          </div>
          <div class="message">
            <div class="flex ui-fluid">
              <div class="from">{{row | messageFrom | messageFromTxt}}</div>
              <div class="flags">
                <i *ngIf="row.IsForwarded" class="fa fa-share"></i>
                <i *ngIf="row.IsAnswered" class="fa fa-reply"></i>
                <i *ngIf="row.HasAttachments" class="fa fa-paperclip"></i>
              </div>
              <div class="date">{{row | messageDate}}</div>
            </div>
            <div class="flex ui-fluid margin-top">
              <div class="subject">
                <i *ngIf="row.IsFlagged" class="pi pi-star"></i>{{row.Subject}}
              </div>
            </div>
          </div>
        </div>
      </td>
    </tr>
  </ng-template>
</p-table>

<p-overlayPanel #advancedSearch>
  <ng-template pTemplate>
    <div class="p-grid ui-fluid">
      <div class="p-col-6"><input type="text" [(ngModel)]="view._search.from" pInputText placeholder="From"/></div>
      <div class="p-col-6"><input type="text" [(ngModel)]="view._search.to" pInputText placeholder="To"/></div>
      <div class="p-col-6"><input type="text" [(ngModel)]="view._search.subject" pInputText placeholder="Subject"/></div>
      <div class="p-col-6"><input type="text" [(ngModel)]="view._search.text" pInputText placeholder="Text"/></div>
      <div class="p-col-6"><p-calendar [(ngModel)]="view._search.since" placeholder="Since" [showIcon]="true"></p-calendar></div>
      <div class="p-col-6"><p-calendar [(ngModel)]="view._search.till" placeholder="Till" [showIcon]="true"></p-calendar></div>
      <div class="p-col-6"><p-checkbox [binary]="true" label="Has Attachments" [(ngModel)]="view._search.attachments"></p-checkbox></div>
      <div class="p-col-6 right"><button (click)="view._advSearch(); advancedSearch.hide()" pButton label="Search"></button></div>
    </div>
  </ng-template>
</p-overlayPanel>
