<p-table #table [value]="view._messages" [lazy]="true" selectionMode="single" (onLazyLoad)="view._loadMessages($event)" [paginator]="true"
  [loading]="view._loading" [rows]="view._pageSize" [totalRecords]="view._totalRecords" (onRowSelect)="view._selectionChanged()"
  (onRowUnselect)="view._selectionChanged()" (onHeaderCheckboxToggle)="view._selectionChanged()" [pageLinks]="view._combinedView ? 1 : 5"
  [ngClass]="{'combined-view': view._combinedView}" [(selection)]="view._table.selection">
  <ng-template pTemplate="header">
    <tr>
      <th style="width: 3em">
        <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
      </th>
      <th>
        <div class="header p-grid p-fluid">
          <div class="p-col-12 flex">
            <div class="search-input">
              <al-input
                (keyup)="view._keyup($event)"
                [(model)]="view._search.simple"
                [isFloatLabel]="false"
                label="Search"
                [icon]="view._search.simple ? 'fa fa-times' : null"
                (iconClick)="view._clearSearch()"></al-input>
            </div>
            <div class="search-button">
              <al-button icon="fa fa-angle-down" (notify)="view._clickAdvSearch()"></al-button>
            </div>
          </div>
        </div>
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-row>
    <tr [ngClass]="{'ui-state-highlight': view._selected?.Uid == row.Uid}">
      <td class="valign">
        <p-tableCheckbox [value]="row"></p-tableCheckbox>
      </td>
      <td [ngClass]="{unread: !row.IsSeen}" (click)="view._select(row)" [ngStyle]="row | borderRight | async">
        <div class="p-grid">
          <div class="avatar" *ngIf="row.From.Collection?.length > 0">
            <al-avatar [contact]="row.From.Collection[0]"></al-avatar>
          </div>
          <div class="message">
            <div class="flex">
              <div class="from">{{row | messageFrom | messageFromTxt}}</div>
              <div class="flags">
                <i *ngIf="row.IsForwarded" class="fa fa-share"></i>
                <i *ngIf="row.IsAnswered" class="fa fa-reply"></i>
                <i *ngIf="row.HasAttachments" class="fa fa-paperclip"></i>
              </div>
              <div class="date">{{row | messageDate}}</div>
            </div>
            <div class="flex margin-top">
              <div class="subject">
                <i *ngIf="row.IsFlagged" class="fa fa-star"></i>{{row.Subject}}
              </div>
            </div>
          </div>
        </div>
      </td>
    </tr>
  </ng-template>
</p-table>

<p-dialog header="Advanced search" [(visible)]="view._showSearch" [modal]="true">
  <div class="p-grid p-fluid adv-search">
    <div class="p-col-12"><al-input #all [isFloatLabel]="false" (keyup)="view._keyup2($event)" [(model)]="view._search.all" label="All"></al-input></div>
    <div class="p-col-6"><al-input [isFloatLabel]="false" [(model)]="view._search.from" label="From"></al-input></div>
    <div class="p-col-6"><al-input [isFloatLabel]="false" [(model)]="view._search.to" label="To"></al-input></div>
    <div class="p-col-6"><al-input [isFloatLabel]="false" [(model)]="view._search.subject" label="Subject"></al-input></div>
    <div class="p-col-6"><al-input [isFloatLabel]="false" [(model)]="view._search.text" label="Text"></al-input></div>
    <div class="p-col-6">
      <p-calendar [showButtonBar]="true" appendTo="body" [touchUI]="true" [readonlyInput]="true" [(ngModel)]="view._search.since" placeholder="Since"></p-calendar>
    </div>
    <div class="p-col-6">
      <p-calendar [showButtonBar]="true" appendTo="body" [touchUI]="true" [readonlyInput]="true" [(ngModel)]="view._search.till" placeholder="Till"></p-calendar>
    </div>
    <div class="p-col-12">
      <al-dropdown [isPrimitive]="true" *ngIf="view._account$" [options]="view._account$ | async | foldersFlatList | async" [(model)]="view._search.folder"></al-dropdown>
    </div>
    <div class="p-col-6 flex">
      <al-checkbox [(model)]="view._search.attachments" label="Has attachments"></al-checkbox>
      <al-checkbox class="margin-left" [(model)]="view._search.unseen" label="Unread messages"></al-checkbox>
    </div>
    <div class="p-col-6 right"><al-button (notify)="view._advSearch()" label="Search"></al-button></div>
  </div>
</p-dialog>
