<p-card [style]="view._style" *ngIf="view._model">
  <div class="p-fluid p-grid">
    <div class="p-col-12">
      <al-input validator="required" label="Server url" [model]="view._model?.server.url" (modelChange)="view._model.server.url = $event"></al-input>
    </div>
  </div>
</p-card>

<p-card [style]="view._style" *ngIf="view._model">
  <div class="p-fluid p-grid">
    <div class="p-col-12 flex" *ngFor="let user of view._model?.server.users || []">
      <al-input validator="custom" label="Email" [(model)]="user.email" [isValid]="!view._validate || user.token"></al-input>
      <al-input validator="custom" type="password" label="Password" [(model)]="user.pass" [isValid]="!view._validate || user.token"></al-input>
      <al-button icon="fa fa-user-times" (notify)="view._remove(user)"></al-button>
    </div>
  </div>
  <div>
    <al-button icon="fa fa-user-plus" label="Add new user" (notify)="view._add()"></al-button>
  </div>
</p-card>

<p-card [style]="view._style" *ngIf="view._model">
  <div class="p-fluid p-grid">
    <ng-container [ngTemplateOutlet]="settingTpl" [ngTemplateOutletContext]="{$implicit: {field: 'checkEmailInterval', label: 'Interval to check new emails (minutes)'}}"></ng-container>
    <ng-container [ngTemplateOutlet]="settingTpl" [ngTemplateOutletContext]="{$implicit: {field: 'pageSize', label: 'Number of messages displayed on a page'}}"></ng-container>
    <ng-container [ngTemplateOutlet]="settingTpl" [ngTemplateOutletContext]="{$implicit: {field: 'composeType', label: 'Type of messages to compose'}}"></ng-container>
    <ng-container [ngTemplateOutlet]="settingTpl" [ngTemplateOutletContext]="{$implicit: {field: 'theme', label: 'Application theme', padding: false}}"></ng-container>
    <div class="p-col-12" *ngIf="view._isNc">
      <al-checkbox [(model)]="view._model.previewInCloud" label="Preview attachments in the cloud"></al-checkbox>
    </div>
    <div class="p-col-12">
      <al-checkbox [(model)]="view._model.backgroundImage" label="Background image (only for desktop)"></al-checkbox>
    </div>
  </div>
</p-card>

<p-card [style]="view._style" *ngIf="view._model">
  <div class="p-fluid p-grid">
    <div class="left">
      <al-input label="Nextcloud server base url" [model]="view._model?.nextcloudUrl" (modelChange)="view._model.nextcloudUrl = $event"></al-input>
    </div>
    <div class="right">
      <al-button [disabled]="!view._model?.nextcloudUrl" (notify)="view._nextcloudLogin()" label="Perform login"></al-button>
    </div>
  </div>
</p-card>

<ng-template #settingTpl let-context>
  <div class="p-col-12" [ngClass]="{'margin-bottom': context.padding !== false}">
    <al-dropdown [label]="context.label" [options]="view._model[context.field].options" [(model)]="view._model[context.field].model"></al-dropdown>
  </div>
</ng-template>
