nc-filepick {
  p-tree {
    width: 100%;
  }

  .ui-tree {
    width: 100%;
    overflow-y: auto;
    min-width: 300px;
  }


  .p-tree {
    width: 100%;
    border: none;
    padding: 0px;
  }

  .content {
    overflow-y: auto;
    max-height: 400px;
    height: 400px;
  }

  .flex {
    display: flex;
  }

  .file {
    font-size: 20px;
  }

  .selected {
    background-color: #007ad9;
    color: white;
  }

  .size {
    text-align: right;
  }
}

.ui-dialog-maximized .ui-tree {
  height: calc(100vh - 140px) !important;
}
